* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Corrected */
}

.container {
    background-color: #e5e5fd; /* Corrected */
    min-height: 100vh;
    border: 10px solid darkolivegreen; /* Corrected */
}

.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end ;
    
}
.top_section h4{
    text-align: end;
    font-size: 30px;
}
.top_section h1{
    font-size: 60px;
    font-weight: bold;
    color: rgb(85, 107, 47);
    
}
.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container, img{
    width: 300px;
    height: 280px;
}
.about_section{
    margin-top: 50px;

}
.about_section h2{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 35px;
}
.about_section p{
    font-size:20px ;
    line-height: 30px;
    letter-spacing: 1.1px;
    text-align: justify;
}
.biography_section{
    margin: 50px 0;

}
.biography_section h3{
    margin-bottom: 20px;
}
.biography_section ul{
    margin-left: 50px;
}
.biography_section li{
    margin-bottom: 15px;
}
footer{
    margin: 50 0;

}
footer p{
    text-align: end;
}